body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

canvas {
  border: 3px solid #fff;
  background: #000;
}

#info {
  margin-left: 20px;
  text-align: left;
}

#info h2 {
    margin-top: 0;
}
